<ion-view view-title="Change Password">
  <ion-content class="bg-grey">
    <form ng-submit="doChangePassword()">
      <br>
      <div class="list">
        <label class="item item-input curve-top center login-input">
          <span class="input-label">Current Password</span>
          <input type="password" ng-model="password.current">
        </label>
        <label class="item item-input center login-input">
          <span class="input-label">New Password</span>
          <input type="password" ng-model="password.new">
        </label>
        <label class="item item-input curve-bottom center login-input">
          <span class="input-label">Confirm New Password</span>
          <input type="password" ng-model="password.confirm_new">
        </label>
        <label class="text-center item item-borderless bg-transparent">
          <button class="button bg-orange curve-all light" type="submit">Change Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
