<ion-view view-title="Change Password with Secret Key">
  <ion-content class="bg-grey">
    <form ng-submit="doChangePassword()">
      <div class="card card-width">
        <br>
        <div class="width-ninety margin-auto">
          <span class="width-full text-dark-grey">Secret Key</span>
          <input class="border-bot-black width-ninety" type="password" ng-model="password.key">
        </div>
        <br>
        <div class="width-ninety margin-auto">
          <span class="width-full text-dark-grey">New Password</span>
          <input class="border-bot-black width-ninety" type="password" ng-model="password.new">
        </div>
        <br>
        <div class="width-ninety margin-auto">
          <span class="width-full text-dark-grey">Confirm New Password</span>
          <input class="border-bot-black width-ninety" type="password" ng-model="password.confirm_new">
        </div>
        <label class="item item-borderless bg-white">
          <button class="button bg-blue text-white curve-all" type="submit">Change Password</button>
        </label>
        <div class="text-center">
          <a href="#/forgot-password" class="text-dark-grey">← Rerequest Secret Key</a>
        </div>
        <br>
        <div class="text-center">
          <a href="#" class="text-dark-grey" ng-click="#/login">← Back to login</a>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
