<ion-view view-title="Change Password">
  <ion-content class="bg-grey">
    <form ng-submit="doChangePassword()">
      <div class="card card-width">
          <br>
          <div class="width-ninety center">
            <h5 class="width-full dark Raleway">Current Password</h5>
            <input class="border-bot-black width-ninety" type="password" ng-model="password.current">
          </div>
          <br>
          <div class="width-ninety center">
            <h5 class="width-full dark Raleway">New Password</h5>
            <input class="border-bot-black width-ninety" type="password" ng-model="password.new">
          </div>
          <br>
          <div class="width-ninety center">
            <h5 class="width-full dark Raleway">Confirm New Password</h5>
            <input class="border-bot-black width-ninety" type="password" ng-model="password.confirm_new">
          </div>
          <br>
        <label class="text-center item item-borderless bg-transparent">
          <button class="button bg-blue Roboto light border-circle width-seventy" type="submit">Change Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
