<ion-view view-title="Change Password with Secret Key">
  <ion-content class="bg-orange">
    <div class="padding-top text-center logo">
      <img src="img/icon.png" alt=""/>
    </div>
    <h1 class="margin-top-none light text-center Raleway-light">iComPAsS</h1>

    <form ng-submit="doChangePassword()">
      <div class="# text-center width-full center">
          <!-- <h4 class="light text-center margin-botop">Forgot Password</h4> -->
        <br>
        <div class="width-ninety center">
          <h4 class="width-full light Roboto-light">Secret Key</h4>
          <input class="border-bot-white text-center width-eighty center bg-transparent font-sixteen light" type="password" ng-model="password.key">
        </div>
        <!-- <br> -->
        <div class="width-ninety center">
          <h4 class="width-full light Roboto-light">New Password</h4>
          <input class="border-bot-white text-center width-eighty center bg-transparent font-sixteen light" type="password" ng-model="password.new">
        </div>
        <!-- <br> -->
        <div class="width-ninety center">
          <h4 class="width-full light Roboto-light">Confirm New Password</h4>
          <input class="border-bot-white text-center width-eighty center bg-transparent font-sixteen light" type="password" ng-model="password.confirm_new">
        </div>
        <br>
        <div class="width-ninety center text-center">
          <button class="border-circle width-eighty button bg-white dark Roboto-light" type="submit">Reset Password</button>
        </div>
        <br>
        <div class="text-center">
          <a href="#/forgot-password" class="light Roboto-light">Request Secret Key</a>
        </div>
        <div class="text-center">
          <a href="#/login" class="light Roboto-light noline">Back to login</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
