<ion-view view-title="Doctor's Profile">
  <ion-content class="bg-light-orange">
    <div class="bg-orange text-center profile-head">
      <br>
      <img src="{{doctor_profile.image}}" alt="" class="profile-pic"/>
      <h2 class="light">{{doctor_profile.fullname}}</h2>
    </div>

    <div class="tabs tabs-striped tabs-top">
      <a class="tab-item" ng-class="classes.basic_info_tab" ng-click="showBasicInfo()">
        <i class="icon ion-person"></i>
      </a>
      <a class="tab-item" ng-class="classes.more_tab" ng-click="showMore()">
        <i class="icon ion-more"></i>
      </a>
    </div>

    <div class="card" ng-class="classes.basic_info">
      <div class="item item-divider bg-orange light">
        Personal Info
      </div>
      <div class="item item-text-wrap">
        <ion-list >
          <ion-item class="row item-borderless" ng-repeat="info in doctor_profile.basic_info">
            <div class="col col-offset-10 col-10 padding-vertical">
              <ion-icon class="icon {{info.icon}} larger"></ion-icon>
            </div>
            <div class="col padding-vertical">
              {{info.data}}
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div ng-class="classes.more">
      <span ng-repeat="info in doctor_profile.more">
        <div class="card">
          <div class="item item-divider bg-orange light">
            {{info.label}}
          </div>
          <div class="item item-text-wrap">
            <ion-list>
              <ion-item class="row item-borderless" ng-repeat="sub_info in info.data track by $index">
                <span ng-if="info.label === 'Weight'">
                  <div class="row">
                    <div class="col col-33">
                      {{sub_info.weight}} kg
                    </div>
                    <div class="col">
                      {{sub_info.date}}
                    </div>
                  </div>
                </span>
                <span ng-if="info.label !== 'Weight'">
                  {{sub_info}}
                </span>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </span>
    </div>
  </ion-content>
</ion-view>
