<ion-view view-title="Change Password with Pin">
  <ion-content class="bg-orange">
    <form ng-submit="requestSecretKey()">
      <div class="list">
        <label class="item item-input curve-all center login-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-borderless bg-orange">
          <button class="button bg-light-orange curve-all" type="submit">Request Reset</button>
        </label>
      </div>
    </form>
    <div class="text-center">
      <a href="#/change-password-with-key" class="light">Already have a secret key?</a>
    </div>
    <br>
    <div class="text-center">
      <a href="#" class="light" ng-click="#/login">← Back to login</a>
    </div>
  </ion-content>
</ion-view>
