<ion-view view-title="Change Password with Pin">
  <ion-content class="bg-orange">
    <div class="padding-top text-center logo">
      <img src="img/icon.png" alt=""/>
    </div>
    <h1 class="margin-top-none light text-center Roboto-light">iComPAsS</h1>
    <form ng-submit="requestSecretKey()">
      <div class="#">
          <h4 class="text-white text-center margin-botop font-twenty Roboto-light padding-top-sm">Problems signing in?</h4>
          <h4 class="text-center Roboto-light width-eighty margin-auto text-white">Enter your username used to login with iComPAsS, and a secret key will be sent to your email.</h4>
        <br>
        <div class="width-eighty text-center margin-auto">
          <h4 class="width-full text-white">Username</h4>
          <input class="text-center text-white font-sixteen border-bot-white bg-transparent width-full Roboto-light" type="text" ng-model="username">
        </div>
        <br>
        <div class="width-ninety margin-auto text-center">
          <button class="border-circle button bg-white text-black width-ninety font-eighteen Roboto-light" type="submit">Continue</button>
        </div>
        <br>
        <div class="text-center">
          <a href="#/change-password-with-key" class="text-white Roboto-light">I have a secret key</a>
        </div>
        <br>
        <div class="text-center">
          <a href="#/login" class="text-white noline Roboto-light">&#x1F890; Back to login</a>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
