<ion-view view-title="List of Doctors">
  <ion-content class="bg-light-orange">
    <div class="card" ng-repeat="doctor in assign_doctors">
      <a href="#/menu/doctor-profile/{{doctor.doc_id}}" class="noline">
        <div class="item item-text-wrap item-avatar item-icon-right">
          <img ng-src="{{profile_pic_src + doctor.image + '.jpg'}}">
          <h2>{{doctor.fullname}}</h2>
          <p>{{doctor.specialty}}</p>

          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
