<ion-view view-title="List of Patients">
  <ion-content class="bg-grey">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="populateListOfPatients()"></ion-refresher>

    <div class="bg-white item-input-inset">
      <input class="bg-grey width-full" type="text" placeholder=" Search" ng-model="search.fullname" style="padding-left:11px;" />
    </div>

    <div class="#" ng-repeat="patient in assigned_patients | filter:search">
      <a href="#/menu/patient-detail/{{patient.p_id}}" class="noline">
        <div class="item item-text-wrap item-avatar item-icon-right">
          <img ng-src="{{patient.image}}">
          <h2><span class="text">{{patient.fullname}}</span></h2>
          <p><span class="Roboto-light">Diagnosis: {{patient.diagnosis}}</span></p>

          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
