<ion-view>
  <ion-content class="bg-orange bci-login roboto">
    <div class="text-center">
      <img src="img/icon.png" alt=""/>
    </div>
    <h1 class="light text-center">iComPAsS</h1>
    <h4 class="light text-center">Internet-based Computerized Patient Assessment System</h4>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input curve-top center">
          <!-- <span class="input-label curve">Username</span> -->
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input curve-bottom center">
          <!-- <span class="input-label">Password</span> -->
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item col-67 margin-auto item-borderless bg-orange">
          <button class="button-color button button-block button-large bg-light-orange curve-all" type="submit">Log in</button>
        </label>
        <label class="item item-borderless bg-orange text-center">
          <h2><a href="#" class="light">Forgot Password?</a></h2>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
