<ion-view>
  <ion-content class="bg-orange">
    <div class="padding-top text-center logo">
      <img src="img/icon.png" alt=""/>
    </div>
    <h1 class="margin-top-none light text-center Raleway fw-400">iComPAsS</h1>
    <h4 class="light text-center Roboto-light center width-ninety">Internet-based Computerized Patient Assessment System</h4>
    <br>
    <form ng-submit="doLogin()">
      <div class="list text-center">
          <h4 class="text-white Roboto-light">Username</h4>
          <input class="font-sixteen Roboto-light text-white text-center center width-eighty bg-transparent border-bot-white" type="text" ng-model="loginData.username">
          <h4 class="text-white Roboto-light">Password</h4>
          <input class="font-sixteen text-white text-center center width-eighty bg-transparent border-bot-white" type="password" ng-model="loginData.password">
          <br>
          <button class="button bg-white text-black button-shadow width-eighty logInButton Roboto-light font-eighteen border-circle" type="submit">Log In</button>
      </div>
    </form>
    <br>
    <div class="text-center">
      <a href="#/forgot-password" class="light Roboto-light">Forgot Password?</a>
    </div>
  </ion-content>
</ion-view>
