<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized bg-orange mynavbar" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="menu">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="{{menuItem.url}}" ng-repeat="menuItem in menuList" ng-click="setTab(1)">
          <div class="row">
            <ion-icon class="icon {{menuItem.icon}} larger col col-15 text-center"></ion-icon>
            <div class="col col-80">
            {{menuItem.text}}
            </div>
          </div>
          </span>
        </ion-item>
        <ion-item class="menu" menu-close ng-click="doLogout()">
          <div class="row">
            <ion-icon class="icon ion-log-out larger col col-15 text-center"></ion-icon>
            <div class="col col-80">
            Logout
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
