<ion-view view-title="Messages">
  <ion-content class="bg-light-orange">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="populateEveryMessages()"></ion-refresher>

    <div class="tabs tabs-striped tabs-top">
      <a class="tab-item" ng-class="{ active: isSet(1) }" ng-click="setTab(1)">
        Inbox
      </a>
      <a class="tab-item" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">
        Sent
      </a>
    </div>

    <ion-list ng-show="isSet(1)">
      <ion-item class="item-remove-animate item-icon-right bg-light-orange" ng-repeat="message in received_messages" type="item-text-wrap" href="#/menu/message-detail/{{message.id}}">
        <span ng-if="message.is_read">
          <h2>{{message.fullname}}</h2>
          <p>{{message.message}}</p>
        </span>
        <span ng-if="message.is_read === 0">
          <strong>
            <h2>{{message.fullname}}</h2>
            <p>{{message.message}}</p>
          </strong>
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <ion-list ng-show="isSet(2)">
      <ion-item class="item-remove-animate item-icon-right bg-light-orange" ng-repeat="message in sent_messages" type="item-text-wrap" href="#/menu/sent-message-detail/{{message.id}}">
        <h2>{{message.fullname}}</h2>
        <p>{{message.message}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bg-orange">
    <span class="title"></span>
    <div class="buttons">
      <a class="button bg-light-orange curve-all" type="button" href="#/menu/select-recipient">Send Message</a>
    </div>
  </ion-footer-bar>
</ion-view>
