<ion-view view-title="Message Detail">
  <ion-content class="bg-grey">
    <!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="populateMessageDetail()"></ion-refresher> -->

    <div class="card card-width">
      <div class="bg-white item item-divider">
        <h2 class="Raleway font-eighteen">{{message.fullname}} </h2>
      </div>
      <div class="item item-text-wrap">
        <!-- <h3 class="Roboto-light">{{message.message}}</h3> -->
        <span ng-bind-html="message.message"></span>
      </div>
      <div class="bg-white item item-divider text-right">
        Date Delivered: {{message.datesent}}
      </div>
    </div>
  </ion-content>
</ion-view>
