<ion-view view-title="Messages">
  <ion-content class="bg-grey messages">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="populateEveryMessages()"></ion-refresher>

    <div class="message-tab tabs tabs-striped tabs-top shadow-bottom"  ng-show="isDoctor()">
      <a class="tleft light tab-item" ng-class="{ active: isSet(1) }" ng-click="setTab(1)">
        Inbox
      </a>
      <a class="tright light tab-item" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">
        Sent
      </a>
    </div>

    <div class="bg-white item-input-inset">
      <input class="bg-grey" type="text" placeholder=" Search" ng-model="search.fullname" style="width:100%; padding-left:11px;" />
    </div>

    <ion-list ng-if="isSet(1)">
      <ion-item class="item-remove-animate item-icon-right bg-grey" ng-repeat="message in received_messages | filter:search" type="item-text-wrap" href="#/menu/message-detail/{{message.id}}">
        <span ng-if="message.is_read">
          <h2 class="Roboto-light">{{message.fullname}}</h2>
          <p class="Roboto-light">{{message.message}}</p>
        </span>
        <span ng-if="!message.is_read">
            <h2>{{message.fullname}}</h2>
            <p>{{message.message}}</p>
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <ion-list ng-if="isSet(2)">
      <ion-item class="item-remove-animate item-icon-right bg-grey" ng-repeat="message in sent_messages | filter:search" type="item-text-wrap" href="#/menu/sent-message-detail/{{message.id}}">
        <span ng-if="message.is_read">
          <p class="Roboto-light right">{{message.datesent}}</p>
          <h2 class="Roboto-light">{{message.fullname}}</h2>
          <p class="Roboto-light">{{message.message}}</p>
          <!-- <h5 class="Roboto-light text-right">{{message.datesent}}</h5> -->
          <h5 class="Roboto-light text-right">Seen</h5>
        </span>
        <span ng-if="!message.is_read">
        <p class="Roboto-light right">{{message.datesent}}</p>
            <h2>{{message.fullname}}</h2>
            <p>{{message.message}}</p>
            <h5 class="Roboto-light text-right">Delivered</h5>
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bg-white shadow-bottom shadow-bottom" style="padding: 0;" ng-show="isDoctor()">
    <!-- <span class="title"></span> -->
    <!-- <div class="buttons"> -->
      <a class="button width-full button-bottom bg-blue light Roboto-light font-sixteen" type="button" href="#/menu/select-recipient">Compose Message</a>
    <!-- </div> -->
  </ion-footer-bar>
</ion-view>
