<ion-view view-title="Patient's Detail">
  <ion-content class="bg-grey patient-detail">
    <!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="populatePatientDetail()"></ion-refresher> -->

    <div class="bg-white item-thumbnail-left">
      <img src="{{patient_detail.image}}" alt=""/>
      <h3 class="text-black">{{patient_detail.fullname}}</h3>
      <br>
    </div>

    <div class="tabs tabs-striped tabs-top">
      <a class="tab-item" ng-class="{ active: isSet(1) }" ng-click="setTab(1)">
        Personal
      </a>
      <a class="tab-item" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">
        Prescriptions
      </a>
      <a class="tab-item" ng-class="{ active: isSet(3) }" ng-click="setTab(3)">
        ESAS Results
      </a>
    </div>

    <div class="card card-width" ng-show="isSet(1)">
      <div class="item item-divider bg-white text-black light">
        Personal Info
      </div>
      <div class="item item-text-wrap">
        <ion-list >
          <ion-item class="row item-borderless" ng-repeat="info in patient_detail.basic_info">
            <div class="col col-40 padding-vertical">
              <h3>{{info.label}}:</h3>
            </div>
            <div class="col padding-vertical Roboto-light">
              {{info.data}}
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div ng-show="isSet(2)">
      <div class="card card-width">
        <div class="item item-divider bg-white text-black light text-center">
          As of today
        </div>
        <div class="item item-text-wrap Roboto-light">
          {{prescription}}
        </div>
      </div>
    </div>

    <div ng-show="isSet(3)">
      <div class="card card-width">
        <div class="item item-divider bg-white light text-center">
          Pain Summary
        </div>
        <div class="item item-text-wrap">
          <canvas id="line" class="chart chart-line" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series" chart-options="chart.options" chart-dataset-override="datasetOverride" chart-click="onClick" height="400px"></canvas>
        </div>
      </div>
      <ion-list>
        <ion-item class="item-remove-animate item-icon-right bg-light-orange" ng-repeat="result in esas_results_reversed" type="item-text-wrap" href="#/menu/esas-result-detail/{{result.patient_id}}/{{$index}}">
          {{result.dateanswered}}

          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
