<ion-view view-title="Patient's Detail">
  <ion-content class="bg-light-orange">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="populatePatientDetail()"></ion-refresher>

    <div class="bg-orange item-thumbnail-left">
      <img src="{{patient_detail.image}}" alt=""/>
      <h3 class="light">{{patient_detail.fullname}}</h3>
      <br>
    </div>

    <div class="tabs tabs-striped tabs-top">
      <a class="tab-item" ng-class="classes.basic_info_tab" ng-click="showBasicInfo()">
        <i class="icon ion-person"></i>
      </a>
      <a class="tab-item" ng-class="classes.more_tab" ng-click="showMore()">
        <i class="icon ion-more"></i>
      </a>
    </div>

    <div class="card" ng-class="classes.basic_info">
      <div class="item item-divider bg-orange light">
        Personal Info
      </div>
      <div class="item item-text-wrap">
        <ion-list >
          <ion-item class="row item-borderless" ng-repeat="info in patient_detail.basic_info">
            <div class="col col-33 padding-vertical">
              <h3>{{info.label}}:</h3>
            </div>
            <div class="col padding-vertical">
              {{info.data}}
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
