<ion-view view-title="Prescriptions">
  <ion-content class="bg-light-orange">
    <div class="card" ng-repeat="prescription in prescriptions">
      <div class="item item-divider bg-orange light text-center">
        <span class="text">{{prescription.fullname}}</span>
      </div>
      <div class="item item-text-wrap">
        <span class="text">{{prescription.prescription}}</span>
      </div>
      <div class="item item-divider text-right">
        <span class="text">{{prescription.dateadded}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
