<ion-view view-title="Select Recipient">
  <ion-content class="bg-grey">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="populateRecipients()"></ion-refresher>

    <div class="bg-white item-input-inset">
      <input class="bg-grey" type="text" placeholder=" Search" ng-model="search.fullname" style="width:100%; padding-left:11px;" />
    </div>

    <div class="#" ng-repeat="recipient in recipients | filter:search">
      <a href="#/menu/send-message/{{recipient.id}}" class="noline">
        <div class="item item-text-wrap item-icon-right">
          <!-- <img ng-src="{{patient.image}}"> -->
          <h2><span class="text">{{recipient.fullname}}</span></h2>
          <i class="icon ion-android-textsms icon-accessory"></i>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
