<ion-view view-title="Sent Message Detail">
  <ion-content class="bg-grey">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="populateSentMessageDetail()"></ion-refresher>

    <div class="card card-width">
      <div class="item bg-white">
        <h2 class="Roboto">{{message.fullname}}: </h2>
        <br>
        <h2 class="Roboto-light">{{message.message}}</h2>
      </div>
      <div class="item item-divider text-right bg-white">
        {{message.datesent}}
      </div>
    </div>


  </ion-content>
</ion-view>
