<ion-view view-title="Sent Message Detail">
  <ion-content class="bg-light-orange">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="populateSentMessageDetail()"></ion-refresher>

    <div class="card">
      <div class="item item-text-wrap">
        <h2>{{message.fullname}}: </h2>
        <hr>
        <br>
        <h3>{{message.message}}</h3>
      </div>
      <div class="item item-divider text-right">
        {{message.datesent}}
      </div>
    </div>

    <span ng-if="message.is_read">
      <h1>Seen</h1>
    </span>
  </ion-content>
</ion-view>
