<ion-view view-title="Take ESAS">
  <ion-content class="bg-light-orange">
    <div ng-show="isSet(1)">
      <div class="card">
        <div class="item item-divider text-center">
          Pain
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.pain" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider text-center">
          Nausea
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.nausea" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider text-center">
          Anxiety
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.anxiety" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider text-center">
          Depression
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.depression" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider text-center">
          Drowsiness
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.drowsiness" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider text-center">
          Lack of Apetite
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.lack_of_apetite" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider text-center">
          Wellbeing
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.wellbeing" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider text-center">
          Shortness of Breath
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.shortness_of_breath" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card" ng-repeat="other_symptoms in esas_result.pain_result.other_symptoms">
        <div class="item item-divider text-center">
          <label class="item item-input">
            <span class="input-label">Enter Symptom:</span>
            <input type="text" ng-model="other_symptoms.key">
          </label>
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="other_symptoms.value" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <button type="button" name="button" class="button bg-orange curve-all light" ng-click="addSymptom()">Add Symptom</button>
      <button type="button" name="button" class="button button-assertive curve-all" ng-click="removeSymptom()" ng-if="esas_result.pain_result.other_symptoms.length > 0">Remove Other Symptom</button>
    </div>
    <div ng-show="isSet(2)">
      <div ng-include="'templates/body-diagram/anterior.html'"></div>
    </div>
    <div ng-show="isSet(3)">
      <div ng-include="'templates/body-diagram/posterior.html'"></div>
    </div>
    <div ng-show="isSet(4)">
      <div class="card">
        <div class="item item-text-wrap">
          <ion-list>
            <ion-item ng-repeat="pain_type in pain_types track by $index" item="item">
              <label class="checkbox">
                <input type="checkbox" ng-model="checked" ng-click="addPainType($index + 1, checked); $event.stopPropagation();">
              </label>
              {{pain_type}}
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bg-orange">
    <div class="buttons">
      <a class="button bg-light-orange curve-all" type="button" href="" ng-show="tab > 1" ng-click="setTab(tab - 1)">Previous</a>
    </div>
    <span class="title">
      <rzslider rz-slider-model="tab"
          rz-slider-options="progress.options" style="margin-top:12px"></rzslider>
    </span>
    <div class="buttons">
      <a class="button bg-light-orange curve-all" type="button" href="" ng-if="tab < 4" ng-click="setTab(tab + 1)">Next</a>
      <a class="button bg-light-orange curve-all" type="button" href="" ng-if="tab === 4" ng-click="submitEsas()">Submit</a>
    </div>
  </ion-footer-bar>
</ion-view>
