<ion-view view-title="Take PHQ">
  <div class="instructions" style="margin-top: 45px;" ng-show="tab > 1 && tab < 11">
    <div class="item item-divider text-center bg-white text-black">
      <h3 class="Roboto-light font-fifteen" ng-bind-html="translations.two_weeks[language]"></h3>
    </div>
  </div>
  <ion-content class="bg-grey">
    <div ng-show="!phq_enabled">
      PHQ Not Enabled
    </div>
    <div ng-show="isSet(1) && phq_enabled" class="card card-width">
      <h4 class="item item-divider light bg-white text-black text-center">Please Choose Language</h4>
      <div class="text-center">
        <br>
        <button class="button margin-left-right width-thirty bg-blue text-white" ng-click="setTab(tab + 1); setLanguage('en'); forwardAnimate(); setChoices()">English</button>
        <button class="button margin-left-right width-thirty bg-blue text-white" ng-click="setTab(tab + 1); setLanguage('tl'); forwardAnimate(); setChoices()">Tagalog</button>
      </div>
      <br>
    </div>
    <div ng-show="isSet(2) && phq_enabled" ng-class="animate" style="margin-top: 90px;">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          {{translations.question_1[language]}}
        </div>
          <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                     ng-model="phq_result.question_1"
                     ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_1">
            <div class="Raleway-light">
              {{choice.text}}
            </div>
          </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(3) && phq_enabled" ng-class="animate" style="margin-top: 90px;">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          {{translations.question_2[language]}}
        </div>
          <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                     ng-model="phq_result.question_2"
                     ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_2">
            <div class="Raleway-light">
              {{choice.text}}
            </div>
          </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(4) && phq_enabled" ng-class="animate" style="margin-top: 90px;">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          {{translations.question_3[language]}}
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_3"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_3">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(5) && phq_enabled" ng-class="animate" style="margin-top: 90px;">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          {{translations.question_4[language]}}
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_4"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_4">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(6) && phq_enabled" ng-class="animate" style="margin-top: 90px;">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          {{translations.question_5[language]}}
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_5"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_5">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(7) && phq_enabled" ng-class="animate" style="margin-top: 90px;">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          {{translations.question_6[language]}}
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_6"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_6">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(8) && phq_enabled" ng-class="animate" style="margin-top: 90px;">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          {{translations.question_7[language]}}
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_7"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_7">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(9) && phq_enabled" ng-class="animate" style="margin-top: 90px;">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          {{translations.question_8[language]}}
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_8"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_8">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(10) && phq_enabled" ng-class="animate" style="margin-top: 90px;">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          {{translations.question_9[language]}}
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_9"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_9">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(11) && phq_enabled" ng-class="animate">
      <div class="card card-width">
        <div class="item-divider text-center bg-white">
          <h4>Review</h4>
        </div>
        <div class="item item-divider bg-white">
          {{translations.question_1[language]}}
          <div class="item margin-left-sm Roboto-light">
            {{choices[phq_result.question_1].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          {{translations.question_2[language]}}
          <div class="item margin-left-sm Roboto-light">
            {{choices[phq_result.question_2].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          {{translations.question_3[language]}}
          <div class="item margin-left-sm Roboto-light">
            {{choices[phq_result.question_3].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          {{translations.question_4[language]}}
          <div class="item margin-left-sm Roboto-light">
            {{choices[phq_result.question_4].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          {{translations.question_5[language]}}
          <div class="item margin-left-sm Roboto-light">
            {{choices[phq_result.question_5].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          {{translations.question_6[language]}}
          <div class="item margin-left-sm Roboto-light">
            {{choices[phq_result.question_6].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          {{translations.question_7[language]}}
          <div class="item margin-left-sm Roboto-light">
            {{choices[phq_result.question_7].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          {{translations.question_8[language]}}
          <div class="item margin-left-sm Roboto-light">
            {{choices[phq_result.question_8].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          {{translations.question_9[language]}}
          <div class="item margin-left-sm Roboto-light">
            {{choices[phq_result.question_9].text}}
          </div>
        </div>

      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bg-white shadow-bottom">
    <div class="buttons">
      <a class="button bg-orange text-white" type="button" href="" ng-show="tab > 1" ng-click="setTab(tab - 1); scrollTop(); backAnimate();">&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-left-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <span class="title progress">
      <rzslider rz-slider-model="tab"
          rz-slider-options="progress.options" style="margin-top:12px" ng-show="phq_enabled"></rzslider>
    </span>
    <div class="buttons">
      <a class="button bg-blue text-white" type="button" href="" ng-disabled="tab !== progress.options.ceil" ng-click="submitPhq()" ng-if="tab !== 1">{{translations.submit[language]}}</a>
    </div>
  </ion-footer-bar>
</ion-view>
