<ion-view view-title="Take ESAS">
  <div class="instructions" style="margin-top: 45px;" ng-show="isSet(3) && esas_enabled">
    <div class="item item-divider item-text-wrap text-center bg-white dark">
      <h2 class="Raleway font-sixteen" ng-bind-html="translations.scale[language]"></h2>
      <h3 class="Roboto-light font-thirteen" ng-bind-html="translations.drag[language]"></h3>
      <h3 class="Roboto-light font-thirteen margin-bot-none" ng-bind-html="translations.tap_next[language]"></h3>
    </div>
  </div>
    <div class="instructions" style="margin-top: 40px;" ng-show="(isSet(5) || isSet(6)) && esas_enabled">
      <div class="item item-divider item-text-wrap text-center bg-white dark width-full">
        <h2 class="Raleway font-sixteen" ng-bind-html="translations.tap_body[language]"></h2>
        <!-- <h2 class="Raleway font-twelve padding-all">{{translations.tap_body[language]}}</h2> -->
          <div class="col-90 center text-left" style="margin-top: 10px;">
            <h4 class="Roboto-light font-fourteen">&nbsp;<ion-icon style="color: yellow" class="ion-record"></ion-icon>&nbsp;&nbsp;<span ng-bind-html="translations.tap_once[language]"></span></h5>
            <h4 class="Roboto-light font-fourteen">&nbsp;<ion-icon style="color: orange" class="ion-record"></ion-icon>&nbsp;&nbsp;<span ng-bind-html="translations.tap_twice[language]"></span></h4>
            <h4 class="Roboto-light font-fourteen">&nbsp;<ion-icon style="color: red" class="ion-record"></ion-icon>&nbsp;&nbsp;<span ng-bind-html="translations.tap_thrice[language]"></span></h4>
            <h4 class="Roboto-light font-fourteen">&nbsp;<ion-icon style="color: white" class="ion-record"></ion-icon>&nbsp;&nbsp;<span ng-bind-html="translations.tap_four[language]"></span></h4>
          </div>
      </div>
    </div>
  <ion-content class="bg-grey">
    <div ng-if="!esas_enabled" class="bg-white full-height">
      <h1 class="text-orange text-center Raleway"><br><br>ESAS<br>
                                          is<br>
                                          not<br>
                                          enabled.</h1>
      <div class="text-center logo">
        <img src="img/esas.png" height="150px" width="auto" alt=""/>
        <br><br>
        <a class="text-center button bg-blue light Raleway-light" ng-click="goHome()">GO BACK</a>
      </div>
    </div>
    <div class="card card-width bg-white" ng-show="isSet(1) && esas_enabled">
      <h4 class="item item-divider bg-white dark text-center Raleway">Please Choose Language</h4>
      <div class="text-center">
        <br>
        <button class="button margin-left-right width-thirty bg-blue light" ng-click="setTab(tab + 1); setLanguage('en')">English</button>
        <button class="button margin-left-right width-thirty bg-dark-grey light" ng-click="setTab(tab + 1); setLanguage('tl')">Tagalog</button>
      </div>
      <br>
    </div>
    <div ng-show="isSet(2) && esas_enabled" class="card card-width">
      <h5 class="item item-divider bg-white dark text-center Raleway font-sixteen">{{translations.symptoms_question[language]}}</h5>
      <div class="text-center">
        <br>
        <button class="button margin-left-right width-twenty bg-blue light" ng-click="setTab(tab + 1)">{{translations.yes[language]}}</button>
        <button class="button margin-left-right width-twenty bg-dark-grey light" ng-click="noSymptoms()">{{translations.no[language]}}</button>
      </div>
      <br>
    </div>
    <div style="margin-top: 100px;" ng-show="isSet(3) && esas_enabled">

      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white dark">
          {{translations.pain[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.pain" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          {{translations.tiredness[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.tiredness" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          {{translations.nausea[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.nausea" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          {{translations.anxiety[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.anxiety" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          {{translations.drowsiness[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.drowsiness" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          {{translations.depression[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.depression" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          {{translations.lack_of_appetite[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.lack_of_appetite" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          {{translations.wellbeing[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.wellbeing" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          {{translations.shortness_of_breath[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.shortness_of_breath" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width" ng-repeat="other_symptoms in esas_result.pain_result.other_symptoms">
        <div class="item item-divider text-center">
          <label class="item item-input width-full">
            <!-- <span class="input-label">{{translations.enter[language]}}</span> -->
            <input class="text-center Raleway font-sixteen" type="text" ng-model="other_symptoms.key">
          </label>
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="other_symptoms.value" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <br>
      <div class="text-center">
      <button type="button" name="button" class="button bg-blue curve-all light Raleway-light" ng-click="addSymptom()">{{translations.add_symptom[language]}}</button>
      <button type="button" name="button" class="button button-assertive curve-all Raleway-light" ng-click="removeSymptom()" ng-if="esas_result.pain_result.other_symptoms.length > 0">{{translations.remove_symptom[language]}}</button>
      </div>
      <br>
    </div>
    <div ng-show="isSet(4)">
      <div class="card card-width">
        <!-- <div class="item item-text-wrap"> -->
        <div class="item item-divider text-center bg-white">
          <h3 class="Raleway font-sixteen">Mark all types of pain</h3>
        </div>
          <div class="list">
            <ion-checkbox ng-model="checked.sharp"
                          ng-click="addPainType(translations.sharp['en'], translations.sharp['tl'], checked.sharp); $event.stopPropagation();">
              {{translations.sharp[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.stabbing"
                          ng-click="addPainType(translations.stabbing['en'], translations.stabbing['tl'], checked.stabbing); $event.stopPropagation();">
              {{translations.stabbing[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.pricking"
                          ng-click="addPainType(translations.pricking['en'], translations.pricking['tl'], checked.pricking); $event.stopPropagation();">
              {{translations.pricking[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.burning"
                          ng-click="addPainType(translations.burning['en'], translations.burning['tl'], checked.burning); $event.stopPropagation();">
              {{translations.burning[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.boring"
                          ng-click="addPainType(translations.boring['en'], translations.boring['tl'], checked.boring); $event.stopPropagation();">
              {{translations.boring[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.splitting"
                          ng-click="addPainType(translations.splitting['en'], translations.splitting['tl'], checked.splitting); $event.stopPropagation();">
              {{translations.splitting[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.aching"
                          ng-click="addPainType(translations.aching['en'], translations.aching['tl'], checked.aching); $event.stopPropagation();">
              {{translations.aching[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.shooting"
                          ng-click="addPainType(translations.shooting['en'], translations.shooting['tl'], checked.shooting); $event.stopPropagation();">
              {{translations.shooting[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.throbbing"
                          ng-click="addPainType(translations.throbbing['en'], translations.throbbing['tl'], checked.throbbing); $event.stopPropagation();">
              {{translations.throbbing[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.crushing"
                          ng-click="addPainType(translations.crushing['en'], translations.crushing['tl'], checked.crushing); $event.stopPropagation();">
              {{translations.crushing[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.cutting"
                          ng-click="addPainType(translations.cutting['en'], translations.cutting['tl'], checked.cutting); $event.stopPropagation();">
              {{translations.cutting[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.numbing"
                          ng-click="addPainType(translations.numbing['en'], translations.numbing['tl'], checked.numbing); $event.stopPropagation();">
              {{translations.numbing[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.tiring"
                          ng-click="addPainType(translations.tiring['en'], translations.tiring['tl'], checked.tiring); $event.stopPropagation();">
              {{translations.tiring[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.stretching"
                          ng-click="addPainType(translations.stretching['en'], translations.stretching['tl'], checked.stretching); $event.stopPropagation();">
              {{translations.stretching[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.pressing"
                          ng-click="addPainType(translations.pressing['en'], translations.pressing['tl'], checked.pressing); $event.stopPropagation();">
              {{translations.pressing[language]}}
            </ion-checkbox>
          </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="margin-body margin-instructions"  ng-show="isSet(5) && esas_enabled">
      <div ng-include="'templates/body-diagram/anterior.html'"></div>
    </div>
    <div class="margin-body margin-instructions" ng-show="isSet(6) && esas_enabled">
      <div ng-include="'templates/body-diagram/posterior.html'"></div>
    </div>
    <div ng-show="isSet(7) && esas_enabled" class="bg-grey full-height">
      <div class="card card-width">
        <div class="item item-divider bg-white dark text-center Raleway font-sixteen">{{translations.review[language]}}</div>
        <div class="item item-text-wrap bg-white dark">
          <div class="row">
            <div class="col col-80">{{translations.pain[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.pain}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.tiredness[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.tiredness}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.nausea[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.nausea}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.anxiety[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.anxiety}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.drowsiness[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.drowsiness}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.depression[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.depression}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.lack_of_appetite[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.lack_of_appetite}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.wellbeing[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.wellbeing}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.shortness_of_breath[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.shortness_of_breath}}</div>
          </div>
          <!-- if array then loop -->
          <br>
          <div class="row">
            <div class="col col-80">{{translations.other_symptoms[language]}}:</div>
          </div>
          <div class="row" ng-repeat="other in esas_result.pain_result.other_symptoms">
            <div class="col col-80 Roboto-light">{{other.key}}</div>
            <div class="col Roboto-light">{{other.value}}</div>
          </div>

          <div class="row">
            <div class="col">{{translations.paint_types_most_painful[language]}}: </div>
          </div>
          <div class="row">
            <ul class="unordered-lists padding-left">
              <li class="Roboto-light" ng-if="language === 'en'" ng-repeat="pain_type in esas_result.pain_types">{{pain_type.type}}</li>
              <li class="Roboto-light" ng-if="language === 'tl'" ng-repeat="pain_type in tagalog_pain_types">{{pain_type.type}}</li>
            </ul>
          </div>
          <br>
          <div class="row" ng-disabled="true" style="pointer-events:none;">
            <div ng-include="'templates/body-diagram/anterior.html'"></div>
            <div ng-include="'templates/body-diagram/posterior.html'"></div>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bg-white shadow-bottom">
    <div class="buttons">
      <a class="button bg-orange light" type="button" href="" ng-show="tab > 1" ng-click="setTab(esas_result.pain_result.pain === 0 && tab > 3? 3 : tab - 1); scrollTop()">&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-left-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <span class="title progress">
      <rzslider rz-slider-model="tab"
          rz-slider-options="progress.options" style="margin-top:12px" ng-show="esas_enabled"></rzslider>
    </span>
    <div class="buttons">
      <a class="button  bg-orange light" type="button" href="" ng-show="tab > 2 && tab < progress.options.ceil" ng-click="esas_result.pain_result.pain === 0? zeroPain() : setTab(tab + 1); scrollTop()">&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-right-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;</a>
      <a class="button bg-blue light" type="button" href="" ng-if="tab === progress.options.ceil" ng-click="submitEsas()">{{translations.submit[language]}}</a>
    </div>
  </ion-footer-bar>
</ion-view>
