<ion-view view-title="Take Paint Detect">
  <ion-content class="bg-grey">
    <div ng-show="!pain_detect_enabled">
      Pain Detect Not Enabled
    </div>
    <div ng-show="isSet(1) && pain_detect_enabled" class="card card-width">
      <h4 class="item item-divider light bg-white dark text-center Raleway-light">Click <b>Start</b> to begin</h4>
      <div class="text-center">
        <br>
        <button class="button margin-left-right width-thirty bg-blue light" ng-click="setTab(tab + 1); setLanguage('en');">Start</button>
        <!-- <button class="button margin-left-right width-thirty bg-blue light" ng-click="setTab(tab + 1); setLanguage('tl');">Tagalog</button> -->
      </div>
      <br>
    </div>
    <div ng-show="isSet(2) && pain_detect_enabled">
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white dark overflow">
          How would you assess your pain now,<br> at this moment?
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="pain_detect_result.sliders.slider_1" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          How strong was the strongest pain during <br> the past 4 weeks?
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="pain_detect_result.sliders.slider_2" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="Raleway item item-divider text-center bg-white">
          How strong was the pain during the past <br> 4 weeks on average?
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="pain_detect_result.sliders.slider_3" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
    </div>
    <div ng-show="isSet(3) && pain_detect_enabled" ng-class="animate">
      <div class="card card-width">
        <div class="item item-divider text-center bg-white Raleway font-sixteen">
          Mark the picture that best describes <br> the course of your pain:
        </div>
        <ion-radio ng-repeat="radio in radios" ng-value="radio.value"
                   ng-model="pain_detect_result.radio.radio_1"
                   name="radio_1"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()">
          <img src="img/{{radio.image}}" alt="">
          <div class="Raleway-light">
            {{radio.text}}
          </div>
      </div>

      </ion-radio>
    </div>
    <div ng-show="isSet(4) && pain_detect_enabled">
      <div class="card card-width">
        <div class="item item-divider text-center bg-white Raleway font-sixteen">
          Mark the picture that best describes <br> the course of your pain:
        </div>
      <div class="width-eighty center" ng-include="'templates/body-diagram/anterior.html'"></div>
    </div>
    </div>
    <div ng-show="isSet(5) && pain_detect_enabled">
      <div class="card card-width">
        <div class="width-eighty center" ng-include="'templates/body-diagram/posterior.html'"></div>
        <div class="item item-divider text-center bg-whitefont-sixteen overflow">
          Does your pain radiate to other <br> regions of your body?
        </div>
      </div>
    </div>
    <div ng-show="isSet(6) && pain_detect_enabled" ng-class="animate">
      <div class="card card-width">
        <div class="width-ninety center item-divider bg-white font-eighteen">
          Do you suffer from a burning sensation (e.g., stinging nettles) in the marked areas?
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="pain_detect_result.questions.question_1"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_1">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(7) && pain_detect_enabled" ng-class="animate">
      <div class="card card-width">
        <div class="width-ninety center item-divider bg-white font-eighteen">
          Do you have a tingling or prickling sensation in the area of your pain (like crawling ants or electrical tingling)?
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="pain_detect_result.questions.question_2"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_2">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(8) && pain_detect_enabled" ng-class="animate">
      <div class="card card-width">
        <div class="width-ninety center item-divider bg-white font-eighteen">
          Is light touching (clothing, a blanket) in this area painful?
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="pain_detect_result.questions.question_3"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_3">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(9) && pain_detect_enabled" ng-class="animate">
      <div class="card card-width">
        <div class="width-ninety center item-divider bg-white font-eighteen">
          Do you have sudden pain attacks in the area of your pain, like electric shocks?
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="pain_detect_result.questions.question_4"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_4">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(10) && pain_detect_enabled" ng-class="animate">
      <div class="card card-width">
        <div class="width-ninety center item-divider bg-white font-eighteen">
          Is cold or heat (bath water) in this area occasionally painful?
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="pain_detect_result.questions.question_5"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_5">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(11) && pain_detect_enabled" ng-class="animate">
      <div class="card card-width">
        <div class="width-ninety center item-divider bg-white font-eighteen">
          Do you suffer from a sensation of numbness in the areas that you marked?
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="pain_detect_result.questions.question_6"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_6">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(12) && pain_detect_enabled" ng-class="animate">
      <div class="card card-width">
        <div class="width-ninety center item-divider bg-white font-eighteen">
          Does slight pressure in this area, e.g., with a finger, trigger pain?
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="pain_detect_result.questions.question_7"
                   ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" name="question_7">
          <div class="Raleway-light">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(13) && pain_detect_enabled">
      <div class="card card-width">
        <div class="item item-divider bg-white dark text-center Raleway font-sixteen">Review</div>
        <div class="item item-text-wrap bg-white dark">
          <div class="row">
            <div class="col col-80">How would you assess your pain now, at this moment?</div>
            <div class="col Roboto-light">{{pain_detect_result.sliders.slider_1}}</div>
          </div>
          <div class="row">
            <div class="col col-80">How strong was the strongest pain during the past 4 weeks?</div>
            <div class="col Roboto-light">{{pain_detect_result.sliders.slider_2}}</div>
          </div>
          <div class="row">
            <div class="col col-80">How strong was the pain during the past 4 weeks on average?</div>
            <div class="col Roboto-light">{{pain_detect_result.sliders.slider_3}}</div>
          </div>
          <div class="item item-divider bg-white">
            <img src="img/{{radios[(pain_detect_result.radio.radio_1).charCodeAt(0) - 97].image}}" alt="">
            <div class="Roboto-light">
              {{radios[(pain_detect_result.radio.radio_1).charCodeAt(0) - 97].text}}
            </div>
          </div>
          <div class="row" ng-disabled="true" style="pointer-events:none;">
            <div ng-include="'templates/body-diagram/anterior.html'"></div>
            <div ng-include="'templates/body-diagram/posterior.html'"></div>
          </div>
          <div class="item item-divider bg-white">
            Do you suffer from a burning sensation (e.g., stinging nettles) in the marked areas?
            <div class="item margin-left-sm Roboto-light">
              {{choices[pain_detect_result.questions.question_1].text}}
            </div>
          </div>
          <div class="item item-divider bg-white">
            Do you have a tingling or prickling sensation in the area of your pain (like crawling ants or electrical tingling)?
            <div class="item margin-left-sm Roboto-light">
              {{choices[pain_detect_result.questions.question_2].text}}
            </div>
          </div>
          <div class="item item-divider bg-white">
            Is light touching (clothing, a blanket) in this area painful?
            <div class="item margin-left-sm Roboto-light">
              {{choices[pain_detect_result.questions.question_3].text}}
            </div>
          </div>
          <div class="item item-divider bg-white">
            Do you have sudden pain attacks in the area of your pain, like electric shocks?
            <div class="item margin-left-sm Roboto-light">
              {{choices[pain_detect_result.questions.question_4].text}}
            </div>
          </div>
          <div class="item item-divider bg-white">
            Is cold or heat (bath water) in this area occasionally painful?
            <div class="item margin-left-sm Roboto-light">
              {{choices[pain_detect_result.questions.question_5].text}}
            </div>
          </div>
          <div class="item item-divider bg-white">
            Do you suffer from a sensation of numbness in the areas that you marked?
            <div class="item margin-left-sm Roboto-light">
              {{choices[pain_detect_result.questions.question_6].text}}
            </div>
          </div>
          <div class="item item-divider bg-white">
            Does slight pressure in this area, e.g., with a finger, trigger pain?
            <div class="item margin-left-sm Roboto-light">
              {{choices[pain_detect_result.questions.question_7].text}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bg-white shadow-bottom">
    <div class="buttons">
      <a class="button bg-orange light" type="button" href="" ng-show="tab > 1" ng-click="setTab(tab - 1); scrollTop(); backAnimate();">&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-left-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <span class="title progress">
      <rzslider rz-slider-model="tab"
          rz-slider-options="progress.options" style="margin-top:12px" ng-show="pain_detect_enabled"></rzslider>
    </span>
    <div class="buttons">
      <a class="button  bg-orange light" type="button" href="" ng-show="tab > 1 && tab < 6" ng-click="setTab(tab + 1); scrollTop(); forwardAnimate()" ng-disabled="tab === 3">&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-right-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;</a>
      <a class="button bg-blue light" type="button" href="" ng-if="tab > 5" ng-disabled="tab !== progress.options.ceil" ng-click="submitPainDetect()">Submit</a>
    </div>
  </ion-footer-bar>
</ion-view>
