<ion-view view-title="Take PHQ">
  <ion-content class="bg-grey">
    <div ng-show="!phq_enabled" class="animate">
      PHQ Not Enabled
    </div>
    <div ng-show="isSet(1) && phq_enabled" class="card card-width animate text-center">
      <br>
      <h4 class="Roboto-light width-ninety margin-auto text-left">Over the last 2 weeks, how often have you been bothered by any of the following problems?</h4>
      <br>
      <a class="text-center button bg-orange text-white" type="button" href="" ng-click="setTab(tab + 1); scrollTop()">Start</a>
    </div>
    <div ng-show="isSet(2) && phq_enabled" class="animate">
      <div class="list">
        <div class="item item-divider">
          Little interest or pleasure in doing things:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_1"
                   ng-click="setTab(tab + 1)" name="question_1">
          {{choice.text}}
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(3) && phq_enabled" class="animate">
      <div class="list">
        <div class="item item-divider">
          Feeling down, depressed, or hopeless:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_2"
                   ng-click="setTab(tab + 1)" name="question_2">
          {{choice.text}}
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(4) && phq_enabled" class="animate">
      <div class="list">
        <div class="item item-divider">
          Trouble falling or staying asleep, or sleeping too much:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_3"
                   ng-click="setTab(tab + 1)" name="question_3">
          {{choice.text}}
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(5) && phq_enabled" class="animate">
      <div class="list">
        <div class="item item-divider">
          Feeling tired or having little energy:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_4"
                   ng-click="setTab(tab + 1)" name="question_4">
          {{choice.text}}
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(6) && phq_enabled" class="animate">
      <div class="list">
        <div class="item item-divider">
          Poor appetite or overeating:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_5"
                   ng-click="setTab(tab + 1)" name="question_5">
          {{choice.text}}
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(7) && phq_enabled" class="animate">
      <div class="list">
        <div class="item item-divider">
          Feeling bad about yourself or that you are a failure or have let yourself or your family down:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_6"
                   ng-click="setTab(tab + 1)" name="question_6">
          {{choice.text}}
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(8) && phq_enabled" class="animate">
      <div class="list">
        <div class="item item-divider">
          Trouble concentrating on things, such as reading the newspaper or watching television:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_7"
                   ng-click="setTab(tab + 1)" name="question_7">
          {{choice.text}}
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(9) && phq_enabled" class="animate">
      <div class="list">
        <div class="item item-divider">
          Moving or speaking so slowly that other people could have noticed? Or the opposite - being so fidgety or restless that you have been moving around a lot more than usual:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_8"
                   ng-click="setTab(tab + 1)" name="question_8">
          {{choice.text}}
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(10) && phq_enabled" class="animate">
      <div class="list">
        <div class="item item-divider">
          If you checked off any problems, how difficult have these problems made it for you to do your work, take care of things at home, or get along with other people?
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_9"
                   ng-click="setTab(tab + 1)" name="question_9">
          {{choice.text}}
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(11) && phq_enabled" class="animate">
      <h4>Review</h4>
      <div class="list">
        <div class="item item-divider">
          Little interest or pleasure in doing things:
        </div>
        <div class="item">
          {{choices[phq_result.question_1].text}}
        </div>
        <div class="item item-divider">
          Feeling down, depressed, or hopeless:
        </div>
        <div class="item">
          {{choices[phq_result.question_2].text}}
        </div>
        <div class="item item-divider">
          Trouble falling or staying asleep, or sleeping too much:
        </div>
        <div class="item">
          {{choices[phq_result.question_3].text}}
        </div>
        <div class="item item-divider">
          Feeling tired or having little energy:
        </div>
        <div class="item">
          {{choices[phq_result.question_4].text}}
        </div>
        <div class="item item-divider">
          Poor appetite or overeating:
        </div>
        <div class="item">
          {{choices[phq_result.question_5].text}}
        </div>
        <div class="item item-divider">
          Feeling bad about yourself or that you are a failure or have let yourself or your family down:
        </div>
        <div class="item">
          {{choices[phq_result.question_6].text}}
        </div>
        <div class="item item-divider">
          Trouble concentrating on things, such as reading the newspaper or watching television:
        </div>
        <div class="item">
          {{choices[phq_result.question_7].text}}
        </div>
        <div class="item item-divider">
          Moving or speaking so slowly that other people could have noticed? Or the opposite - being so fidgety or restless that you have been moving around a lot more than usual:
        </div>
        <div class="item">
          {{choices[phq_result.question_8].text}}
        </div>
        <div class="item item-divider">
          If you checked off any problems, how difficult have these problems made it for you to do your work, take care of things at home, or get along with other people?
        </div>
        <div class="item">
          {{choices[phq_result.question_9].text}}
        </div>

      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bg-white shadow-bottom">
    <div class="buttons">
      <a class="button bg-orange text-white" type="button" href="" ng-show="tab > 1" ng-click="setTab(tab - 1); scrollTop()">&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-left-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <span class="title">
      <rzslider rz-slider-model="tab"
          rz-slider-options="progress.options" style="margin-top:12px" ng-show="phq_enabled" class="animate"></rzslider>
    </span>
    <div class="buttons">
      <a class="button bg-blue text-white" type="button" href="" ng-disabled="tab !== 11" ng-click="submitPhq()">Submit</a>
    </div>
  </ion-footer-bar>
</ion-view>
