<ion-view view-title="Take ESAS">
  <ion-content class="bg-grey">
    <div ng-if="!esas_enabled" class="bg-orange full-height">
      <h1 class="light text-center">Not Enabled</h1>
    </div>
    <div class="card card-width bg-white" ng-show="isSet(1) && esas_enabled">
      <h4 class="item item-divider light bg-white text-black text-center">ESAS Enabled Please Choose Language</h4>
      <div class="text-center">
        <br>
        <button class="button margin-left-right width-thirty bg-blue text-white" ng-click="setTab(tab + 1); setLanguage('english')">English</button>
        <button class="button margin-left-right width-thirty bg-blue text-white" ng-click="setTab(tab + 1); setLanguage('tagalog')">Tagalog</button>
      </div>
      <br>
    </div>
    <div ng-show="isSet(2) && esas_enabled" class="card card-width">
      <h1 class="item item-divider light bg-white text-black text-center">{{translations.symptoms_question[language]}}</h1>
      <div class="text-center">
        <br>
        <button class="button margin-left-right width-twenty bg-blue text-white" ng-click="setTab(tab + 1)">{{translations.yes[language]}}</button>
        <button class="button margin-left-right width-twenty bg-blue text-white" ng-click="noSymptoms()">{{translations.no[language]}}</button>
      </div>
      <br>
    </div>

    <div ng-show="isSet(3) && esas_enabled">
      <div class="card card-width">
        <div class="item item-divider text-center bg-white text-black">
          {{translations.pain[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.pain" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="item item-divider text-center bg-white">
          {{translations.tiredness[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.tiredness" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="item item-divider text-center bg-white">
          {{translations.nausea[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.nausea" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="item item-divider text-center bg-white">
          {{translations.anxiety[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.anxiety" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="item item-divider text-center bg-white">
          {{translations.drowsiness[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.drowsiness" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="item item-divider text-center bg-white">
          {{translations.depression[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.depression" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="item item-divider text-center bg-white">
          {{translations.lack_of_appetite[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.lack_of_appetite" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="item item-divider text-center bg-white">
          {{translations.wellbeing[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.wellbeing" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width">
        <div class="item item-divider text-center bg-white">
          {{translations.shortness_of_breath[language]}}
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="esas_result.pain_result.shortness_of_breath" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <div class="card card-width" ng-repeat="other_symptoms in esas_result.pain_result.other_symptoms">
        <div class="item item-divider text-center">
          <label class="item item-input col-12">
            <span class="input-label">{{translations.enter[language]}}</span>
            <input type="text" ng-model="other_symptoms.key">
          </label>
        </div>
        <div class="item item-text-wrap">
          <rzslider rz-slider-model="other_symptoms.value" rz-slider-options="pain_slider.options"></rzslider>
        </div>
      </div>
      <br>
      <div class="text-center">
      <button type="button" name="button" class="button bg-blue  curve-all light" ng-click="addSymptom()">Add Symptom</button>
      <button type="button" name="button" class="button button-assertive curve-all" ng-click="removeSymptom()" ng-if="esas_result.pain_result.other_symptoms.length > 0">Remove Symptom</button>
      </div>
      <br>
    </div>
    <div ng-show="isSet(4)">
      <div class="card">
        <div class="item item-text-wrap">
          <div class="list">
            <ion-checkbox ng-model="checked.sharp"
                          ng-click="addPainType(translations.sharp['english'], translations.sharp['tagalog'], checked.sharp); $event.stopPropagation();">
              {{translations.sharp[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.stabbing"
                          ng-click="addPainType(translations.stabbing['english'], translations.stabbing['tagalog'], checked.stabbing); $event.stopPropagation();">
              {{translations.stabbing[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.pricking"
                          ng-click="addPainType(translations.pricking['english'], translations.pricking['tagalog'], checked.pricking); $event.stopPropagation();">
              {{translations.pricking[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.burning"
                          ng-click="addPainType(translations.burning['english'], translations.burning['tagalog'], checked.burning); $event.stopPropagation();">
              {{translations.burning[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.boring"
                          ng-click="addPainType(translations.boring['english'], translations.boring['tagalog'], checked.boring); $event.stopPropagation();">
              {{translations.boring[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.splitting"
                          ng-click="addPainType(translations.splitting['english'], translations.splitting['tagalog'], checked.splitting); $event.stopPropagation();">
              {{translations.splitting[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.aching"
                          ng-click="addPainType(translations.aching['english'], translations.aching['tagalog'], checked.aching); $event.stopPropagation();">
              {{translations.aching[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.shooting"
                          ng-click="addPainType(translations.shooting['english'], translations.shooting['tagalog'], checked.shooting); $event.stopPropagation();">
              {{translations.shooting[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.throbbing"
                          ng-click="addPainType(translations.throbbing['english'], translations.throbbing['tagalog'], checked.throbbing); $event.stopPropagation();">
              {{translations.throbbing[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.crushing"
                          ng-click="addPainType(translations.crushing['english'], translations.crushing['tagalog'], checked.crushing); $event.stopPropagation();">
              {{translations.crushing[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.cutting"
                          ng-click="addPainType(translations.cutting['english'], translations.cutting['tagalog'], checked.cutting); $event.stopPropagation();">
              {{translations.cutting[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.numbing"
                          ng-click="addPainType(translations.numbing['english'], translations.numbing['tagalog'], checked.numbing); $event.stopPropagation();">
              {{translations.numbing[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.tiring"
                          ng-click="addPainType(translations.tiring['english'], translations.tiring['tagalog'], checked.tiring); $event.stopPropagation();">
              {{translations.tiring[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.stretching"
                          ng-click="addPainType(translations.stretching['english'], translations.stretching['tagalog'], checked.stretching); $event.stopPropagation();">
              {{translations.stretching[language]}}
            </ion-checkbox>
            <ion-checkbox ng-model="checked.pressing"
                          ng-click="addPainType(translations.pressing['english'], translations.pressing['tagalog'], checked.pressing); $event.stopPropagation();">
              {{translations.pressing[language]}}
            </ion-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="margin-body" ng-show="isSet(5) && esas_enabled">
      <div ng-include="'templates/body-diagram/anterior.html'"></div>
    </div>
    <div class="margin-body" ng-show="isSet(6) && esas_enabled">
      <div ng-include="'templates/body-diagram/posterior.html'"></div>
    </div>
    <div ng-show="isSet(7) && esas_enabled" class="bg-grey full-height">
      <div class="card card-width">
        <div class="item item-divider bg-white text-black text-center">{{translations.review[language]}}</div>
        <div class="item item-text-wrap bg-white text-black">
          <div class="row">
            <div class="col col-80">{{translations.pain[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.pain}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.tiredness[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.tiredness}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.nausea[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.nausea}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.anxiety[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.anxiety}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.drowsiness[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.drowsiness}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.depression[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.depression}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.lack_of_appetite[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.lack_of_appetite}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.wellbeing[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.wellbeing}}</div>
          </div>
          <div class="row">
            <div class="col col-80">{{translations.shortness_of_breath[language]}}</div>
            <div class="col Roboto-light">{{esas_result.pain_result.shortness_of_breath}}</div>
          </div>
          <!-- if array then loop -->
          <div class="row">
            <div class="col col-80">{{translations.other_symptoms[language]}}:</div>
          </div>
          <div class="row padding-left" ng-repeat="other in esas_result.pain_result.other_symptoms">
            <div class="col col-75">{{other.key}}</div>
            <div class="col Roboto-light">{{other.value}}</div>
          </div>

          <div class="row">
            <div class="col">{{translations.paint_types_most_painful[language]}}: </div>
          </div>
          <div class="row">
            <ul class="unordered-lists padding-left">
              <li class="Roboto-light" ng-if="language === 'english'" ng-repeat="pain_type in esas_result.pain_types">{{pain_type.type}}</li>
              <li class="Roboto-light" ng-if="language === 'tagalog'" ng-repeat="pain_type in tagalog_pain_types">{{pain_type.type}}</li>
            </ul>
          </div>
          <br>
          <div class="row" ng-click="$event.stopPropagation()">
            <div ng-include="'templates/body-diagram/anterior.html'"></div>
            <div ng-include="'templates/body-diagram/posterior.html'"></div>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bg-white shadow-bottom">
    <div class="buttons">
      <a class="button bg-orange text-white" type="button" href="" ng-show="tab > 1" ng-click="setTab(esas_result.pain_result.pain === 0 && tab > 3? 3 : tab - 1); scrollTop()">&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-left-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <span class="title">
      <rzslider rz-slider-model="tab"
          rz-slider-options="progress.options" style="margin-top:12px" ng-show="esas_enabled"></rzslider>
    </span>
    <div class="buttons">
      <a class="button  bg-orange text-white" type="button" href="" ng-show="tab > 2 && tab < 7" ng-click="esas_result.pain_result.pain === 0? zeroPain() : setTab(tab + 1); scrollTop()">&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-right-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;</a>
      <a class="button bg-blue text-white" type="button" href="" ng-if="tab === 7" ng-click="submitEsas()">{{translations.submit[language]}}</a>
    </div>
  </ion-footer-bar>
</ion-view>
