<ion-view view-title="Take PHQ">
  <ion-content class="bg-grey">
    <div ng-show="!phq_enabled" class="animate">
      PHQ Not Enabled
    </div>
    <div ng-show="isSet(1) && phq_enabled" class="card card-width animate text-center">
      <br>
      <h4 class="Roboto-light width-nfive margin-auto text-left">Over the last 2 weeks, how often have you been bothered by any of the following problems?</h4>
      <br>
      <a class="width-thirty font-eighteen text-center button bg-orange text-white" type="button" href="" ng-click="setTab(tab + 1); scrollTop()">Start</a>
      <br>
      <br>
    </div>
    <div ng-show="isSet(2) && phq_enabled" class="animate">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          1. Little interest or pleasure in doing things:
        </div>
        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_1"
                   ng-click="setTab(tab + 1)" name="question_1">
          <div class="Raleway-light mar">
            {{choice.text}}
          </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(3) && phq_enabled" class="animate">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          2. Feeling down, depressed, or hopeless:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_2"
                   ng-click="setTab(tab + 1)" name="question_2">
           <div class="Roboto-light">
             {{choice.text}}
           </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(4) && phq_enabled" class="animate">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          3. Trouble falling or staying asleep, or sleeping too much:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_3"
                   ng-click="setTab(tab + 1)" name="question_3">
           <div class="Roboto-light">
             {{choice.text}}
           </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(5) && phq_enabled" class="animate">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          4. Feeling tired or having little energy:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_4"
                   ng-click="setTab(tab + 1)" name="question_4">
         <div class="Roboto-light">
           {{choice.text}}
         </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(6) && phq_enabled" class="animate">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          5. Poor appetite or overeating:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_5"
                   ng-click="setTab(tab + 1)" name="question_5">
         <div class="Roboto-light">
           {{choice.text}}
         </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(7) && phq_enabled" class="animate">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          6. Feeling bad about yourself or that you are a failure or have let yourself or your family down:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_6"
                   ng-click="setTab(tab + 1)" name="question_6">
         <div class="Roboto-light">
           {{choice.text}}
         </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(8) && phq_enabled" class="animate">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          7. Trouble concentrating on things, such as reading the newspaper or watching television:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_7"
                   ng-click="setTab(tab + 1)" name="question_7">
         <div class="Roboto-light">
           {{choice.text}}
         </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(9) && phq_enabled" class="animate">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          8. Moving or speaking so slowly that other people could have noticed? Or the opposite - being so fidgety or restless that you have been moving around a lot more than usual:
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_8"
                   ng-click="setTab(tab + 1)" name="question_8">
         <div class="Roboto-light">
           {{choice.text}}
         </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(10) && phq_enabled" class="animate">
      <div class="card card-width">
        <div class="width-ninety margin-auto item-divider bg-white font-twenty">
          9. If you checked off any problems, how difficult have these problems made it for you to do your work, take care of things at home, or get along with other people?
        </div>

        <ion-radio ng-repeat="choice in choices"  ng-value="choice.value"
                   ng-model="phq_result.question_9"
                   ng-click="setTab(tab + 1)" name="question_9">
         <div class="Roboto-light">
           {{choice.text}}
         </div>
        </ion-radio>
      </div>
    </div>
    <div ng-show="isSet(11) && phq_enabled" class="animate">
      <div class="card card-width">
        <h4 class="text-center">Review</h4>
        <div class="item item-divider bg-white">
          1. Little interest or pleasure in doing things:
          <div class="item Roboto-light margin-left-sm">
            {{choices[phq_result.question_1].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          2. Feeling down, depressed, or hopeless:
          <div class="item Roboto-light margin-left-sm">
            {{choices[phq_result.question_2].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          3. Trouble falling or staying asleep, or sleeping too much:
          <div class="item Roboto-light margin-left-sm">
            {{choices[phq_result.question_3].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          4. Feeling tired or having little energy:
          <div class="item Roboto-light margin-left-sm">
            {{choices[phq_result.question_4].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          5. Poor appetite or overeating:
          <div class="item Roboto-light margin-left-sm">
            {{choices[phq_result.question_5].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          6. Feeling bad about yourself or that you are a failure or have let yourself or your family down:
          <div class="item Roboto-light margin-left-sm">
            {{choices[phq_result.question_6].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          7. Trouble concentrating on things, such as reading the newspaper or watching television:
          <div class="item Roboto-light margin-left-sm">
            {{choices[phq_result.question_7].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          8. Moving or speaking so slowly that other people could have noticed? Or the opposite - being so fidgety or restless that you have been moving around a lot more than usual:
          <div class="item Roboto-light margin-left-sm">
            {{choices[phq_result.question_8].text}}
          </div>
        </div>
        <div class="item item-divider bg-white">
          9. If you checked off any problems, how difficult have these problems made it for you to do your work, take care of things at home, or get along with other people?
          <div class="item Roboto-light margin-left-sm">
            {{choices[phq_result.question_9].text}}
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bg-white shadow-bottom">
    <div class="buttons">
      <a class="button bg-orange text-white" type="button" href="" ng-show="tab > 1" ng-click="setTab(tab - 1); scrollTop()">&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-left-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <span class="title">
      <rzslider rz-slider-model="tab"
          rz-slider-options="progress.options" style="margin-top:12px" ng-show="phq_enabled" class="animate"></rzslider>
    </span>
    <div class="buttons">
      <a class="button  bg-orange text-white" type="button" href="" ng-show="tab > 1 && tab < 11" ng-click="setTab(tab + 1); scrollTop()">&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon class="icon ion-arrow-right-b larger"></ion-icon>&nbsp;&nbsp;&nbsp;</a>
      <a class="button bg-blue text-white" type="button" href="" ng-if="tab === 11" ng-click="submitPhq()">Submit</a>
    </div>
  </ion-footer-bar>
</ion-view>
