/* Empty. Add your own CSS if you like */

/*iComPAsS color scheme*/
.bg-orange,
.bar.bg-orange{
  background-color: #FF8300;
}

.text-orange{
  color: #FF8300;
}

.bg-light-orange{
	background-color: #FFFFDE;
}

.text-light-orange{
  color: #FFFFDE;
}

/* Horizontally align on ion-content */
.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
  float: right;
}

/* login form design */
.login-input{
  width: 92%;
}

.curve-top{
  border-radius: 6px 6px 0px 0px;
}

.curve-bottom{
  border-radius: 0px 0px 6px 6px;
}

.curve-all{
  border-radius: 6px 6px 6px 6px;
}

/*Alert popup design*/
.popup-head{
  background-color: #FFFFDE;
}
.popup-body{
  background-color: #FFFFDE;
}
.popup-buttons{
  background-color: #FFFFDE;
}
.popup-buttons .button{
  background-color: #FF8300;
  border-radius: 6px 6px 6px 6px;
}
.popup-buttons .button.button-positive.activated {
  border-color: #a2a2a2;
  background-color: #a2a2a2;
}

/*Profile Tabs Design*/
.tabs.tabs-top{
  position: relative;
  top: 0%;
  color: black;
}

/*Make fonts larger*/
.larger {
    font-size: larger;
}

/*Hide things*/
.hidden{
  display: none;
}

/*Remove anchor tag underline*/
.noline{
  text-decoration: none;
}

.body-diagram{
  width: 100%;
  height: 100%;
}

.unordered-lists{
  list-style: none;
  list-style-type: disc;
}

.padding-left{
  padding-left: 15%;
}

.pain-result-card{
  height: 50vh;
}

#spinnerGif{
  position: relative;
  top: 40vh;
}

@media only screen and (min-width: 768px) {
  #ionNavView{
    width: 50%;
    height: 50vh;
  }
  #spinnerGif{
    position: relative;
    top: 20vh; left: -25%;
  }
  .alert-popup {
    position: fixed;
  }
}​
