/* Empty. Add your own CSS if you like */

/*iComPAsS color scheme*/
.bg-orange,
.bar.bg-orange{
  background-color: #FF8300;
}

.text-orange{
  color: #FF8300;
}

.bg-light-orange{
	background-color: #FFFFDE;
}

.text-light-orange{
  color: #FFFFDE;
}

/* Horizontally align on ion-content */
.center {
    margin-left: auto;
    margin-right: auto;
}

/* login form design */
.login-input{
  width: 92%;
}

.curve-top{
  border-radius: 6px 6px 0px 0px;
}

.curve-bottom{
  border-radius: 0px 0px 6px 6px;
}

.curve-all{
  border-radius: 6px 6px 6px 6px;
}

/*Alert popup design*/
.popup-head{
  background-color: #FFFFDE;
}
.popup-body{
  background-color: #FFFFDE;
}
.popup-buttons{
  background-color: #FFFFDE;
}
.popup-buttons .button{
  background-color: #FF8300;
  border-radius: 6px 6px 6px 6px;
}
.popup-buttons .button.button-positive.activated {
  border-color: #a2a2a2;
  background-color: #a2a2a2;
}

/*Profile Tabs Design*/
.tabs.tabs-top{
  position: relative;
  top: 0%;
  color: black;
}

/*Make fonts larger*/
.larger {
    font-size: larger;
}

/*Hide things*/
.hidden{
  display: none;
}

/*Remove anchor tag underline*/
.noline{
  text-decoration: none;
}

/*spinner design*/
.spinner svg {
  stroke: #FF8300;
  fill: #FF8300;
}

/*@media only screen and (min-device-width: 700px) {
  *{
    font-size: 4vw !important;

  }

  .menu.menu-left{
  	width: 450px !important;
  }
  .menu-open .menu-content{
  	transform: translate3d(400px, 0px, 0px) !important;
  }

  .mynavbar{
    height: 55px !important;
    font-size: 1.1em !important;
  }
}*/

@media only screen and (min-device-width: 600px) {
  .logo {
    display: none;
  }

  .logInButton {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
}
